In [424]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [426]:
#Total number of schools
total_number_schools = len(school_data_complete["School ID"].unique())
total_number_schools

15

In [3]:
#Total number of students
total_number_students = len(school_data_complete["Student ID"].unique())
total_number_students

39170

In [4]:
#Total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [5]:
#Average math score
average_math_score = student_data["math_score"].mean()
average_math_score

78.98537145774827

In [18]:
#Average reading score
average_reading_score = student_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [19]:
#Overall passing rate or "overall average score" = (avg. math score + avg. reading score)/2
overall_average_score = (average_math_score + average_reading_score)/2
overall_average_score

80.43160582078121

In [20]:
#Percentage of students with a passing math score (70 or greater)
#Creates a 1 for passing students in math. 0 otherwise. Then takes the mean/average and multiplies it by 100 to get the percentage of passing students
student_data["#passing_math"] = student_data["math_score"] >= 70
percent_passing_math = ((student_data["#passing_math"]).mean())*100
percent_passing_math

74.9808526933878

In [21]:
#Percentage of students with a passing reading score (70 or greater)
#Creates a 1 for passing students in reading. 0 otherwise. Then takes the mean/average and multiplies it by 100 to get the percentage of passing students
student_data["#passing_reading"] = student_data["reading_score"] >= 70
percent_passing_reading = ((student_data["#passing_reading"]).mean())*100
percent_passing_reading

85.80546336482001

In [22]:
#Overall percentage
overall_passing_rate = (percent_passing_math + percent_passing_reading)/2
overall_passing_rate

80.39315802910392

In [405]:
#Dataframe to hold the above results
#Cleaner formatting for displayed data 
district_results = [{"Total Schools": total_number_schools, 
            "Total Students": total_number_students, 
            "Total Budget": total_budget, 
            "Average Math Score": round(average_math_score,2), 
            "Average Reading Score": round(average_reading_score,2), 
            "% Passing Math": round(percent_passing_math,2),
            "% Passing Reading": round(percent_passing_reading,2),
            "% Overall Passing Rate": round(overall_passing_rate,2)}]

district_summary_table = pd.DataFrame(district_results)

#Formatting
district_summary_table["% Passing Math"] = district_summary_table["% Passing Math"].map("{:,.2f}%".format)
district_summary_table["% Overall Passing Rate"] = district_summary_table["% Overall Passing Rate"].map("{:,.2f}%".format)
district_summary_table["Total Budget"] = district_summary_table["Total Budget"].map("${:,.2f}".format)
district_summary_table["Total Students"] = district_summary_table["Total Students"].map("{:,}".format)


#Display
district_summary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81,80.39%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [ ]:
#Part 2, school_data_complete

school_data_complete["passing_math"] = school_data_complete["math_score"] >= 70
school_data_complete["passing_reading"] = school_data_complete["reading_score"] >= 70

school_data_complete

In [ ]:
school_group = school_data_complete.groupby(["school_name"]).mean()
school_group["Per Student Budget"] = school_group["budget"]/school_group["size"]
school_group["% Passing Math"] = round(school_group["passing_math"]*100,2)
school_group["% Passing Reading"] = round(school_group["passing_reading"]*100,2)
school_group["% Overall Passing Rate"] = round(((school_group["passing_math"] + school_group["passing_reading"])/2)*100,3)

#Merge with school_data to collect information about the type, size and budget
school_data_summary = pd.merge(school_group, school_data, how="left", on=["school_name", "school_name"])
del school_data_summary['size_y']
del school_data_summary['budget_y']
del school_data_summary['Student ID']
del school_data_summary['School ID_x']

#Create a dataframe to store the results
school_summary_dataframe = pd.DataFrame({"School Name":  school_data_summary["school_name"],
                                "School Type": school_data_summary["type"],
                               "Total Students":school_data_summary["size_x"],
                               "Total School Budget": school_data_summary["budget_x"],
                               "Per Student Budget":school_data_summary["Per Student Budget"], 
                               "Average Math Score":round(school_data_summary["math_score"],2),
                               "Average Reading Score":round(school_data_summary["reading_score"],2), 
                               "% Passing Math": school_data_summary["% Passing Math"],
                               "% Passing Reading": school_data_summary["% Passing Reading"],
                               "% Overall Passing Rate": school_data_summary["% Overall Passing Rate"]}) 

#Formatting
school_summary_dataframe["Total Students"] = school_summary_dataframe["Total Students"].map("{:,.0f}".format)
school_summary_dataframe["Total School Budget"] = school_summary_dataframe["Total School Budget"].map("${:,.2f}".format)
school_summary_dataframe["Per Student Budget"] = school_summary_dataframe["Per Student Budget"].map("${:,.2f}".format)
#Display
school_summary_dataframe

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [389]:
#Top five schools in overall passing rate

top_five_schools = school_summary_dataframe.sort_values(["% Overall Passing Rate"], ascending=False)
top_five_schools.head()

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
1,Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.0,84.0,94.13,97.04,95.587
12,Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.0,84.0,93.27,97.31,95.291
9,Pena High School,Charter,962,"$585,858.00",$609.00,84.0,84.0,94.59,95.95,95.270
4,Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.0,84.0,93.39,97.14,95.266
13,Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.0,84.0,93.87,96.54,95.204

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [420]:
#Top five lowest-performing schools

bottom_five_schools = school_summary_dataframe.sort_values(["% Overall Passing Rate"], ascending=True)
bottom_five_schools.head()

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
10,Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,77.0,81.0,66.37,80.22,73.293
2,Figueroa High School,District,"2,949","$1,884,411.00",$639.00,77.0,81.0,65.99,80.74,73.364
7,Huang High School,District,"2,917","$1,910,635.00",$655.00,77.0,81.0,65.68,81.32,73.500
8,Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.0,81.0,66.06,81.22,73.640
3,Ford High School,District,"2,739","$1,763,916.00",$644.00,77.0,81.0,68.31,79.30,73.804

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [434]:
#Math scores by grade.Series grouped by school.

nineth_grade=  school_data_complete[school_data_complete["grade"] == "9th"].groupby("school_name").mean()["math_score"]
tenth_grade =  school_data_complete[school_data_complete["grade"] == "10th"].groupby("school_name").mean()["math_score"]
eleventh_grade =  school_data_complete[school_data_complete["grade"] == "11th"].groupby("school_name").mean()["math_score"]
twelveth_grade=  school_data_complete[school_data_complete["grade"] == "12th"].groupby("school_name").mean()["math_score"]

#Combine series into a dataframe
math_grade_dataframe = pd.DataFrame({"Ninth Grade":nineth_grade, "Tenth Grade":tenth_grade, 
                                     "Eleventh Grade":eleventh_grade, "Twelveth Grade":twelveth_grade})            

#Formatting

math_grade_dataframe[["Ninth Grade","Tenth Grade","Eleventh Grade","Twelveth Grade"]] = math_grade_dataframe[["Ninth Grade","Tenth Grade","Eleventh Grade","Twelveth Grade"]].applymap("{:.2f}".format)

#Display

math_grade_dataframe.style.set_properties(**{'color': 'black !important','border': '2px black solid !important'}).set_table_styles([{'selector': 'th','props': [('border', '3px black solid !important')]}]).format({'A': '{:,.2f}'.format,'B': '{:,.2%}'.format,})

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [458]:
#Same operations as above for reading scores
#Pandas series for each grade. Series grouped by school.

nineth_grade=  school_data_complete[school_data_complete["grade"] == "9th"].groupby("school_name").mean()["reading_score"]
tenth_grade =  school_data_complete[school_data_complete["grade"] == "10th"].groupby("school_name").mean()["reading_score"]
eleventh_grade =  school_data_complete[school_data_complete["grade"] == "11th"].groupby("school_name").mean()["reading_score"]
twelveth_grade=  school_data_complete[school_data_complete["grade"] == "12th"].groupby("school_name").mean()["reading_score"]

#Dataframe
reading_grade_dataframe = pd.DataFrame({"Ninth Grade":nineth_grade, "Tenth Grade":tenth_grade, 
                                     "Eleventh Grade":eleventh_grade, "Twelveth Grade":twelveth_grade})            

#Formatting

reading_grade_dataframe[["Ninth Grade","Tenth Grade","Eleventh Grade","Twelveth Grade"]] = reading_grade_dataframe[["Ninth Grade","Tenth Grade","Eleventh Grade","Twelveth Grade"]].applymap("{:.2f}".format)

#Display

reading_grade_dataframe.style.set_properties(**{'color': 'black !important','border': '2px black solid !important'}).set_table_styles([{'selector': 'th','props': [('border', '3px black solid !important')]}]).format({'A': '{:,.2f}'.format,'B': '{:,.2%}'.format,})

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [432]:
# Sample bins
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

# 4 bins to group school spending. 
school_data_summary["Spending Ranges (Per Student)"] = pd.cut(school_data_summary["Per Student Budget"], spending_bins, labels=group_names)

school_spending_grouped = school_data_summary.groupby("Spending Ranges (Per Student)").mean() 


del school_spending_grouped['size_x']
del school_spending_grouped['budget_x']
del school_spending_grouped['Per Student Budget']
del school_spending_grouped['School ID_y']
del school_spending_grouped['passing_math']
del school_spending_grouped['passing_reading']

school_spending_grouped.style.set_properties(**{'color': 'black !important','border': '2px black solid !important'}).set_table_styles([{'selector': 'th','props': [('border', '3px black solid !important')]}]).format({'A': '{:,.2f}'.format,'B': '{:,.2%}'.format,})

## Scores by School Size

* Perform the same operations as above, based on school size.

In [430]:
# Sample bins
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# 4 bins to group school spending.  
school_data_summary["School Size"] = pd.cut(school_data_summary["size_x"], size_bins, labels=group_names)
school_data_summary

#group by size_x
school_size_grouped = school_data_summary.groupby("School Size").mean() 
school_size_grouped

##Removes the unwanted columns
del school_size_grouped['size_x']
del school_size_grouped['budget_x']
del school_size_grouped['Per Student Budget']
del school_size_grouped['School ID_y']
del school_size_grouped['passing_math']
del school_size_grouped['passing_reading']

#Display
school_size_grouped.style.set_properties(**{'color': 'black !important','border': '2px black solid !important'}).set_table_styles([{'selector': 'th','props': [('border', '3px black solid !important')]}]).format({'A': '{:,.2f}'.format,'B': '{:,.2%}'.format,})

## Scores by School Type

* Perform the same operations as above, based on school type

In [431]:
school_type_grouped = school_data_summary.groupby("type").mean()

#Removes the unwanted columns
del school_type_grouped['size_x']
del school_type_grouped['budget_x']
del school_type_grouped['Per Student Budget']
del school_type_grouped['School ID_y']
del school_type_grouped['passing_math']
del school_type_grouped['passing_reading']

school_type_grouped.style.set_properties(**{'color': 'black !important','border': '2px black solid !important'}).set_table_styles([{'selector': 'th','props': [('border', '3px black solid !important')]}]).format({'A': '{:,.2f}'.format,'B': '{:,.2%}'.format,})